.container {
  max-width: 400px;
  margin: 2rem auto;
  padding: 1.5rem;
  border-radius: 8px;
}

.main {
  padding: 2rem 0;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  text-align: center;
}
